@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.link-nav {
  width: 7rem;
  text-align: center;
}

.bg-color {
  background: #96a8c8;
}

.btn-color {
  background: #96a8c8;
}

.btn-color:hover {
  background: white;
  color: #96a8c8;
}

.btn-color:focus {
  background: white;
  color: #96a8c8;
}

.comic-list {
  padding: 0 3rem;
  margin-top: 3rem;
  max-height: 65vh;
  overflow: auto;
}

.row-custom {
  height: 80vh;
  margin-bottom: 0 !important;
}

.comic-container {
  height: 80vh;
}

.center {
  margin: 0 auto;
}

.comic-img {
  max-height: 50vh;
  overflow: auto;
}

.v-center {
  padding: 20% 0;
}
